.line-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin: 2px 0;
}

.line-container .line-enumeration {
  min-width: 26px;
  margin-right: 16px;
}

.line-container .line-content {
  display: inline-block;
  min-width: 95%;
}
